.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 100px 0px 100px;
    align-items: center;
}

.logo img {
    width: 200px;
}

.menu a button {
    background: none;
    border: none;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: 300ms;
}

.menu a button:hover {
    text-decoration: underline #CC00FF;
    transition: 300ms;
}

.dashboard {
    color: #fff;
}

.dashboard h2 {
    padding: 40px 40px 20px 120px;
    font-size: 30px;
    font-weight: 300;
}

.alinhamento label {
    padding-left: 120px;
}

.titulo-dashbord {
    padding: 0px 40px;
    font-size: 18px;
}

.listaDelegacias div li {
    padding: 20px 0px 0px 120px;
}