.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 100px 0px 100px;
    align-items: center;
}

.logo img {
    width: 200px;
}

.menu a button {
    background: none;
    border: none;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: 300ms;
}

.menu a button:hover {
    text-decoration: underline #CC00FF;
    transition: 300ms;
}

.corpo-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 100px;
}

.cont-esquerdo-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cont-esquerdo-home p {
    color: #fff;
    font-weight: 200;
    font-size: 22px;
    text-align: justify;
}

.cont-esquerdo-home a button {
    border: none;
    color: #000;
    font-family: 'Montserrat';
    font-size: 20px;
    padding: 20px 40px;
    border-radius: 5px;
    cursor: pointer;
}
